@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:text-shadow:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Add this to your global CSS file */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22c55e;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
